<header>
    <nav> 
        <ul class="logo-container">
            <li class="mobile-trigger">
                    <button><img src="img/hamburger.svg" class="svg" alt="Hamburger Icon"/></button>
                </li>
            <li class="logo">
                <a href="/"><img src="img/usi_logo.svg" class="svg" alt="Urban Strength Institute Logo"/></a>
            </li>
        </ul>


        {{!-- {{#if user.email}}
            <ul>
                <li class="standout">
                    <a href="/profile">{{user.name}}'s Profile</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        {{else}} --}}
            <ul>
                
                <li class="main-nav">
                    <ul>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>

                        <li>
                            <a href="/testimonials">Testimonials</a>
                        </li>

                        <li>
                            <a href="/blog">Blog</a>
                        </li>

                        <li>
                            <a href="/store">Store</a>
                        </li>
                    </ul>
                </li>
               

                <li class="standout">
                    <a href="/appointments">Book an Appointment</a>
                </li>
            </ul>
        {{!-- {{/if}} --}}

    </nav>
</header>