<div class="home">
    <div class="intro">

        <div class="fullscreen-bg">
            <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
                <source src="/video/bg.mp4" type="video/mp4">
            </video>
        </div>

        <div class="content">
            <div class="book"><img src="img/usi_logo.svg" class="svg" alt="Urban Strength Institute Logo"/></div>
            <h1>Keep Moving Towards <span>A Better You</span></h1>
            <div class="book">
                <a class="book-btn" href="/book-now">Book An Appointment</a> 
                <a class="learn-btn" href="/learn-more">Learn More</a>
            </div>
        </div>
    </div>

    <div class="peformance-data">
        <div class="flex-wrap">
            <div class="left">
                <h2>Data Driven to <span>Drive you Forward</span></h2>
                <p>
                    Velocity, volume &amp; load are measured to help you push farther faster.
                </p>
                <div class="book">
                    <a class="book-btn" href="/book-now">Get Started</a> 
                </div>
            </div>
            <div class="right">
                <img src="img/graphs/push_app_graph.jpg"/>

                <div class="graph-wrapper">
                    <img src="img/graphs/push_app_graph2.jpg"/>
                    <span class="push">Powered By <img src="img/push_app.png" alt="Push App Logo"/></span>
                </div>
                
            </div>
        </div>
    </div>

    <div class="contact">
         <div class="flex-wrap">
            <div class="left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11866.413207781596!2d-87.6874458!3d41.9658551!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd13cc73809c49e9!2sUrban%20Strength%20Institute!5e0!3m2!1sen!2sus!4v1570047607452!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="right">
                <div class="hours-table">
                    <div itemscope itemtype="http://schema.org/ExerciseGym">
                    
                    <h1 itemprop="name">
                        Urban Strength Institute
                    </h1>
                    <h2>
                        Opening hours by Appointment Only
                    </h2
                    >
                    <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                    <link itemprop="dayOfWeek" href="http://schema.org/Monday"><strong>Monday:</strong> <time itemprop="opens" content="06:00:00">6:00 AM</time> - <time itemprop="closes" content="20:00:00">8:00 PM</time>
                    </div>
                    <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                    <link itemprop="dayOfWeek" href="http://schema.org/Tuesday"><strong>Tuesday:</strong> <time itemprop="opens" content="06:00:00">6:00 AM</time> - <time itemprop="closes" content="20:00:00">8:00 PM</time>
                    </div>
                    <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                    <link itemprop="dayOfWeek" href="http://schema.org/Wednesday"><strong>Wednesday:</strong> <time itemprop="opens" content="06:00:00">6:00 AM</time> - <time itemprop="closes" content="20:00:00">8:00 PM</time>
                    </div>
                    <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                    <link itemprop="dayOfWeek" href="http://schema.org/Thursday"><strong>Thursday:</strong> <time itemprop="opens" content="06:00:00">6:00 AM</time> - <time itemprop="closes" content="20:00:00">8:00 PM</time>
                    </div>
                    <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                    <link itemprop="dayOfWeek" href="http://schema.org/Friday"><strong>Friday:</strong> <time itemprop="opens" content="06:00:00">6:00 AM</time> - <time itemprop="closes" ccontent="20:00:00">8:00 PM</time>
                    </div>
                    <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                    <link itemprop="dayOfWeek" href="http://schema.org/Saturday"><strong>Saturday:</strong> <time itemprop="opens" content="07:00:00">7:00 AM</time> - <time itemprop="closes" content="13:00:00">1:00 PM</time>
                    </div>
                    <div itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                    <link itemprop="dayOfWeek" href="http://schema.org/Sunday"><strong>Sunday:</strong> <time itemprop="closes" content="00:00:00">Closed</time>
                    </div>
                    <h2>
                    Contact information
                    </h2>
                    <div>
                        Email address: <a href="mailto:Info@usichicago.com" itemprop="email">Info@usichicago.com</a>
                    </div>
                    <div>
                        <div itemprop="location address" itemscope itemtype="http://schema.org/PostalAddress">
                            <h3 itemprop="contactType">Mailing address</h3>
                            <span itemprop="streetAddress">Urban Strength Institute</span><br>
                            <span itemprop="addressLocality">Sudbury</span><br>
                            <span itemprop="addressRegion">ON</span><br>
                            <span itemprop="addressCountry">Canada</span><br>
                            <span itemprop="postalCode">P3E 2C6</span><br>
                        </div>
                    </div>
                   
                    </div>
                </div>

            </div>
        </div>

        
    </div>


    <div class="about" style="display:none;">
       
    </div>

</div>